<form class="text-contact-field" action="/users/<%=@user.id%>/contacts/text" method="post">
  <h5>Who do you want to text?</h5>
  <input type="text" name="contacts" placeholder="contact name(s), separated by commas">
  </br></br>
  <input class="send-texts" name="add" type="submit">
</form>

