
        <h3 class="front-header"><em>TextPuppy</em></h3>
        <div class="auth-container">
          <form class="signin-field" action="/signin" method="post">
            <h2 class="auth-header">Sign In</h2>
            <input type="text" name="username" placeholder="  username">
            </br></br>
            <input type="password" name="password" placeholder="  password">
            </br></br>
            <input class="submit-button" type="submit">
          </form>
        </div>
        <div class="auth-container">
          <form class="signup-field" action="/signup" method="post">
            <h2 class="auth-header">Sign Up</h2>
            <input type="text" name="name" placeholder="  name">
            </br></br>
            <input type="text" name="username" placeholder="  username">
            </br></br>
            <input type="password" name="password" placeholder="  password">
            </br></br>
            <input type="text" name="email" placeholder="  email">
            </br></br>
            <input type="text" name="phone" placeholder="  9-digit Twilio phone number">
            </br></br>
            <input class="submit-button" type="submit">
          </form>
        </div>