<div class="auth-container">
  <form class="signin-field" action="/signin" method="post">
    <h2>Sign In</h2>
    <p>Username</p>
    <input type="text" name="username">
    </br>
    <p>Password</p>
    <input type="password" name="password">
    </br></br>
    <input type="submit">
  </form>
</div>

<div class="auth-container">
  <form class="signup-field" action="/signup" method="post">
    <h2>Sign Up</h2>
    <p>Name</p>
    <input type="text" name="name">
    </br>
    <p>Username</p>
    <input type="text" name="username">
    </br>
    <p>Password</p>
    <input type="password" name="password">
    </br>
    <p>Email</p>
    <input type="text" name="email">
    </br>
    <p>Twilio Phone Number</p>
    <input type="text" name="phone" placeholder="9-digit number">
    </br></br>
    <input type="submit">
  </form>
</div>