<form class="contact-field" action="/users/<%= @user.id %>/contacts/new" method="post">
  <input class="input-field1" type="text" name="contact_name" placeholder="  contact name">
  </br></br>
  <input class="input-field2" type="text" name="phone"  placeholder="  contact number">
  </br></br>
  <input class="submit-contact" type="submit">
</form>