<form class="contact-field" action="/users/<%= @user.id %>/contacts/new" method="post">
  <p>Contact name</p>
  <input class="input-field1" type="text" name="contact_name">
  </br>
  <p>Phone</p>
  <input class="input-field2" type="text" name="phone">
  </br></br>
  <input class="submit-contact" type="submit">
</form>