<div class="dashboard-background">
<a id="dashboard-buttons" href="/signout">Log out</a></br></br>

<button onclick="recognize()">Voice Command On</button>
<button onclick="stop()">Voice Command Off</button>
</br></br>
<div class="texting">
  <a id="dashboard-buttons" class="text-contact" href="/users/<%=@user.id%>/contacts/text">Create New Text</a>
</div>
<div class="contacts">
  <a id="dashboard-buttons" class="create-contact" href="/users/<%= @user.id %>/contacts/new">Create New Contact</a></br></br>
  <% @user.contacts.each do |contact| %>
  <div class="contact-info-container">
    <p class="contact-info"><%= contact.contact_name %></p>
    <p class="contact-info"><%= format_phone_num(contact.phone) %></p>
  </div></br>
  <% end %>
  
</div>


</div>

